@charset "utf-8";
body {
	font-family: verdana, Arial, applegothic, sans-serif;
	font-weight: normal;
	font-style: normal;
}

div.bar {
	margin-right:5px;
	display:inline-block;
	width: 20px;
	height: 75px;
	background-color: #f00;
}
